<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <script src="./va.js"></script>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <li><a href="<%=link%>"><%=name%></a></li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>LIBRARY
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          <center>
            <br><br><br>
            <h1>WELCOME TO THE LIBRARY</h1>
            <h2>Already a member ?  <a href="/login" style="color: mediumblue;">login</a></h2><br>
            <form action="/sign" method="POST" onsubmit="return submit1();"><br><br>
              <label for="" style="  font-family: 'Brush Script MT', cursive; font-size: 25px; " >NAME :  </label>
            <input type="text" id="name" name="name" style="margin-left: 10px;" required><br><br><br>
            <label for="" style=" font-family: 'Brush Script MT', cursive; font-size: 25px; " >EMAIL :  </label>
            <input type="text" id="email" name="email" style="margin-left: 10px;" onkeyup="validemail()" required><br><br><br>
            <label for="" style=" font-family: 'Brush Script MT', cursive; font-size: 25px; ">PHONE :  </label>
            <input type="text" id="phone" name="phone" style="margin-left: 10px;"  onkeyup="validphn();" required><br><br><br>
            <label for="" style=" font-family: 'Brush Script MT', cursive; font-size: 20px; ">PASSWORD :  </label>
            <input type="password" id="password" name="password" style="margin-left: 10px;" onkeyup="validpass()" required><br><br><br>
            <label for="" style="font-family: 'Brush Script MT', cursive; font-size: 20px; ">RETYPE PASSWORD :  </label>
            <input type="password" id="respassword" name="repassword" style="margin-left: 10px;" onkeyup="repass()"  required><br><br><br>
            <script>
              let email=document.getElementById("email");
              let reg= /^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+).([a-z]{2,3})(.[a-z]{2,3})?$/;
              let exp=/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
              let phn1=/^([0-9]{10})$/
              let phn=document.getElementById("phone");
              let repassword=document.getElementById("respassword");
              let pass=document.getElementById("password");
              function repass()
              {
              if(password.value.match(repassword.value))
              {
              repassword.style.border="4px solid green";
              }
              else
              {
              repassword.style.border="4px solid red";
              }
              }
              function validemail()
              {
              if(reg.test(email.value))
              {
              email.style.border="5px solid green";
              }
              else
              {
              email.style.border="5px solid red";
              } 
              } 
              function validpass()
              {
              if(exp.test(password.value))
              {
              password.style.border="5px solid green";
              }
              else
              {
              password.style.border="5px solid red";
              }
              }
              function validphn()
              {
              if(phn1.test(phn.value))
              {
              phn.style.border="5px solid green";
              }
              else
              {
              phn.style.border="5px solid red";
              }
              }
              function submit1()
              {
              if((exp.test(password.value))&&(reg.test(email.value))&&(phn1.test(phn.value))&&(password.value===(repassword.value)))
              {
              return true;
              }
              else
              {
              return false;
              }
              }   
            </script>
            
            <input type="checkbox" required>I accept the all conditions
            <br><br>
            <input type="submit" value="SIGN UP" style="font-family: 'Brush Script MT', cursive; width: 125px; font-size: 25px;">
            
            </form>
            <br><br><br><br><br>
          </center>
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>